%h2 Posts (conventional Rails rendering)

%table.table.table-bordered.table-striped
  %tr
    %th ID
    %th Title

  - collection.each do |resource|
    %tr
      %td
        %span.label.label-info= resource._id
      %td
        %h3= resource.title
        %div= resource.body
        = link_to 'Edit', [:edit, resource], class: "btn"
        = link_to 'Destroy', resource, class: "btn btn-danger", confirm: 'Are you sure?', method: :delete

%br
